<?xml version='1.0' encoding='UTF-8'?>
<app name="File Manager" version="2.0.1" icon="images/icon.png">
  <resources>
    <module src="../../modules/tolua.klf" />
    <module src="../../modules/luaDS.klf" />
    <module src="../../modules/luaGUI.klf" />
    <script type="text/lua" src="lua/main.lua" />
    <module src="modules/app_filemanager.klf" />
    <font name="body" size="16" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />
    <font name="small" size="14" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />
    <font name="tiny" size="12" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />
    <font name="heading" size="24" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />
    <surface name="bg" width="640" height="480">
      <fill color="#101923" />
    </surface>
    <surface name="b116x32-normal" width="116" height="32">
      <fill color="#223548" />
    </surface>
    <surface name="b116x32-highlight" width="116" height="32">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="112" height="28" color="#155B71" />
    </surface>
    <surface name="b116x32-pressed" width="116" height="32">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="112" height="28" color="#155B71" />
    </surface>
    <surface name="b116x32-disabled" width="116" height="32">
      <fill color="#26313B" />
    </surface>
    <surface name="white-bg" width="280" height="196">
      <fill color="#14212E" />
    </surface>
    <surface name="blue-bg" width="280" height="196">
      <fill color="#1B3041" />
    </surface>
    <surface name="row" width="260" height="28">
      <fill color="#182838" />
    </surface>
    <surface name="row-focus" width="260" height="28">
      <fill color="#225765" />
    </surface>
    <surface name="row-select" width="260" height="28">
      <fill color="#155B71" />
    </surface>
    <surface name="b280x30-normal" width="280" height="30">
      <fill color="#223548" />
    </surface>
    <surface name="b280x30-highlight" width="280" height="30">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="276" height="26" color="#155B71" />
    </surface>
    <surface name="b280x30-pressed" width="280" height="30">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="276" height="26" color="#155B71" />
    </surface>
    <surface name="b280x30-disabled" width="280" height="30">
      <fill color="#26313B" />
    </surface>
    <surface name="b56x28-normal" width="56" height="28">
      <fill color="#223548" />
    </surface>
    <surface name="b56x28-highlight" width="56" height="28">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="52" height="24" color="#155B71" />
    </surface>
    <surface name="b56x28-pressed" width="56" height="28">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="52" height="24" color="#155B71" />
    </surface>
    <surface name="b56x28-disabled" width="56" height="28">
      <fill color="#26313B" />
    </surface>
    <surface name="b100x28-normal" width="100" height="28">
      <fill color="#223548" />
    </surface>
    <surface name="b100x28-highlight" width="100" height="28">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="96" height="24" color="#155B71" />
    </surface>
    <surface name="b100x28-pressed" width="100" height="28">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="96" height="24" color="#155B71" />
    </surface>
    <surface name="b100x28-disabled" width="100" height="28">
      <fill color="#26313B" />
    </surface>
    <surface name="b108x28-normal" width="108" height="28">
      <fill color="#223548" />
    </surface>
    <surface name="b108x28-highlight" width="108" height="28">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="104" height="24" color="#155B71" />
    </surface>
    <surface name="b108x28-pressed" width="108" height="28">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="104" height="24" color="#155B71" />
    </surface>
    <surface name="b108x28-disabled" width="108" height="28">
      <fill color="#26313B" />
    </surface>
    <surface name="b89x28-normal" width="89" height="28">
      <fill color="#223548" />
    </surface>
    <surface name="b89x28-highlight" width="89" height="28">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="85" height="24" color="#155B71" />
    </surface>
    <surface name="b89x28-pressed" width="89" height="28">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="85" height="24" color="#155B71" />
    </surface>
    <surface name="b89x28-disabled" width="89" height="28">
      <fill color="#26313B" />
    </surface>
    <surface name="b91x28-normal" width="91" height="28">
      <fill color="#223548" />
    </surface>
    <surface name="b91x28-highlight" width="91" height="28">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="87" height="24" color="#155B71" />
    </surface>
    <surface name="b91x28-pressed" width="91" height="28">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="87" height="24" color="#155B71" />
    </surface>
    <surface name="b91x28-disabled" width="91" height="28">
      <fill color="#26313B" />
    </surface>
  </resources>
  <body width="640" height="480" background="bg" onload="export:FileManagerApp_Init()" onopen="export:FileManagerApp_Open()" onclose="export:FileManagerApp_Close()" onunload="export:FileManagerApp_Shutdown()">
    <label name="heading" text="File Manager" x="32" y="32" width="440" height="28" font="heading" color="#EFF5FC" align="left" valign="center" />
    <label name="subtitle" text="DreamShell NeXT  /  Two panes. Clear destinations." x="32" y="62" width="576" height="18" font="small" color="#A7B9CB" align="left" valign="center" />
    <input name="exit-btn" type="button" x="492" y="32" width="116" height="32" onclick="console:app -o" normal="b116x32-normal" highlight="b116x32-highlight" pressed="b116x32-pressed" disabled="b116x32-disabled">
      <label name="exit-btn-caption" text="Menu" x="12" y="0" width="92" height="32" font="body" color="#EFF5FC" align="left" valign="center" />
    </input>
    <input name="path-top" type="button" x="32" y="88" width="280" height="30" onclick="FileManager:choosePane(0)" normal="b280x30-normal" highlight="b280x30-highlight" pressed="b280x30-pressed" disabled="b280x30-disabled">
      <label name="path-top-caption" text="/" x="12" y="0" width="256" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
    </input>
    <input name="up-top" type="button" x="32" y="124" width="56" height="28" onclick="FileManager:up(0)" normal="b56x28-normal" highlight="b56x28-highlight" pressed="b56x28-pressed" disabled="b56x28-disabled">
      <label name="up-top-caption" text="Up" x="10" y="0" width="36" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
    </input>
    <input name="device-top" type="button" x="96" y="124" width="100" height="28" onclick="FileManager:devices(0)" normal="b100x28-normal" highlight="b100x28-highlight" pressed="b100x28-pressed" disabled="b100x28-disabled">
      <label name="device-top-caption" text="Devices" x="10" y="0" width="80" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
    </input>
    <input name="refresh-top" type="button" x="204" y="124" width="108" height="28" onclick="FileManager:refresh(0)" normal="b108x28-normal" highlight="b108x28-highlight" pressed="b108x28-pressed" disabled="b108x28-disabled">
      <label name="refresh-top-caption" text="Refresh" x="12" y="0" width="84" height="28" font="body" color="#EFF5FC" align="left" valign="center" />
    </input>
    <filemanager name="filemgr-top" path="/" x="32" y="160" width="280" height="196" background="white-bg" item_font="small" item_font_color="#EFF5FC" item_normal="row" item_highlight="row-focus" item_pressed="row-select" item_disabled="row" item_selected_normal="row-select" item_selected_highlight="row-focus" item_selected_pressed="row-select" item_selected_disabled="row" onclick="FileManagerItemClickTop" oncontextclick="FileManagerItemContextClickTop" onselect="FileManagerItemSelectTop" />
    <input name="path-bottom" type="button" x="328" y="88" width="280" height="30" onclick="FileManager:choosePane(1)" normal="b280x30-normal" highlight="b280x30-highlight" pressed="b280x30-pressed" disabled="b280x30-disabled">
      <label name="path-bottom-caption" text="/" x="12" y="0" width="256" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
    </input>
    <input name="up-bottom" type="button" x="328" y="124" width="56" height="28" onclick="FileManager:up(1)" normal="b56x28-normal" highlight="b56x28-highlight" pressed="b56x28-pressed" disabled="b56x28-disabled">
      <label name="up-bottom-caption" text="Up" x="10" y="0" width="36" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
    </input>
    <input name="device-bottom" type="button" x="392" y="124" width="100" height="28" onclick="FileManager:devices(1)" normal="b100x28-normal" highlight="b100x28-highlight" pressed="b100x28-pressed" disabled="b100x28-disabled">
      <label name="device-bottom-caption" text="Devices" x="10" y="0" width="80" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
    </input>
    <input name="refresh-bottom" type="button" x="500" y="124" width="108" height="28" onclick="FileManager:refresh(1)" normal="b108x28-normal" highlight="b108x28-highlight" pressed="b108x28-pressed" disabled="b108x28-disabled">
      <label name="refresh-bottom-caption" text="Refresh" x="12" y="0" width="84" height="28" font="body" color="#EFF5FC" align="left" valign="center" />
    </input>
    <filemanager name="filemgr-bottom" path="/" x="328" y="160" width="280" height="196" background="white-bg" item_font="small" item_font_color="#EFF5FC" item_normal="row" item_highlight="row-focus" item_pressed="row-select" item_disabled="row" item_selected_normal="row-select" item_selected_highlight="row-focus" item_selected_pressed="row-select" item_selected_disabled="row" onclick="FileManagerItemClickBottom" oncontextclick="FileManagerItemContextClickBottom" onselect="FileManagerItemSelectBottom" />
    <label name="title" text="Select a file or folder." x="32" y="362" width="576" height="24" font="small" color="#53E1E3" align="left" valign="center" />
    <panel name="toolbar-panel" x="32" y="394" width="576" height="28">
      <input name="copy-btn" type="button" x="0" y="0" width="89" height="28" onclick="FileManager:toolbarCopy()" normal="b89x28-normal" highlight="b89x28-highlight" pressed="b89x28-pressed" disabled="b89x28-disabled">
        <label name="copy-btn-caption" text="Copy" x="10" y="0" width="69" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="rename-btn" type="button" x="97" y="0" width="89" height="28" onclick="FileManager:toolbarRename()" normal="b89x28-normal" highlight="b89x28-highlight" pressed="b89x28-pressed" disabled="b89x28-disabled">
        <label name="rename-btn-caption" text="Rename" x="10" y="0" width="69" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="mkdir-btn" type="button" x="194" y="0" width="89" height="28" onclick="FileManager:toolbarMkdir()" normal="b89x28-normal" highlight="b89x28-highlight" pressed="b89x28-pressed" disabled="b89x28-disabled">
        <label name="mkdir-btn-caption" text="New folder" x="10" y="0" width="69" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="delete-btn" type="button" x="291" y="0" width="89" height="28" onclick="FileManager:toolbarDelete()" normal="b89x28-normal" highlight="b89x28-highlight" pressed="b89x28-pressed" disabled="b89x28-disabled">
        <label name="delete-btn-caption" text="Delete" x="10" y="0" width="69" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="archive-btn" type="button" x="388" y="0" width="89" height="28" onclick="FileManager:toolbarArchive()" normal="b89x28-normal" highlight="b89x28-highlight" pressed="b89x28-pressed" disabled="b89x28-disabled">
        <label name="archive-btn-caption" text="Archive" x="10" y="0" width="69" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="mount-btn" type="button" x="485" y="0" width="91" height="28" onclick="FileManager:toolbarMountISO()" normal="b91x28-normal" highlight="b91x28-highlight" pressed="b91x28-pressed" disabled="b91x28-disabled">
        <label name="mount-btn-caption" text="Mount ISO" x="10" y="0" width="71" height="28" font="small" color="#EFF5FC" align="left" valign="center" />
      </input>
    </panel>
    <label name="controls" text="D-pad Browse / Switch pane   A Open   B Up   X Copy   Y Actions" x="32" y="430" width="576" height="18" font="tiny" color="#A7B9CB" align="left" valign="center" />
    <dialog name="modal-dialog" font="body" x="70" y="130" width="500" height="240" onconfirm="FileManager:ModalClick(true)" oncancel="FileManager:ModalClick(false)" />
  </body>
</app>