<?xml version="1.0" encoding="UTF-8"?>
<app name="GD Ripper" version="2.2.4" icon="images/icon.png">
  <resources>
    <module src="modules/app_gd_ripper.klf" />
    <font src="../../fonts/ttf/arial_lite.ttf" type="ttf" size="16" name="body" />
    <font src="../../fonts/ttf/arial_lite.ttf" type="ttf" size="14" name="small" />
    <font src="../../fonts/ttf/arial_lite.ttf" type="ttf" size="22" name="title" />
    <surface name="bg" width="640" height="480">
      <fill color="#080F23" />
    </surface>
    <surface name="progress-bg" width="592" height="12">
      <fill color="#263749" />
    </surface>
    <surface name="progress-fill" width="592" height="12">
      <fill color="#46CBD1" />
    </surface>
    <surface name="b190-44-normal" width="190" height="44">
      <fill color="#202B48" />
    </surface>
    <surface name="b190-44-highlight" width="190" height="44">
      <fill color="#F07DDC" />
      <fill x="3" y="3" width="184" height="38" color="#472958" />
    </surface>
    <surface name="b190-44-pressed" width="190" height="44">
      <fill color="#ACFFFF" />
      <fill x="3" y="3" width="184" height="38" color="#267F8A" />
    </surface>
    <surface name="b190-44-disabled" width="190" height="44">
      <fill color="#26313B" />
    </surface>
    <surface name="b146-44-normal" width="146" height="44">
      <fill color="#202B48" />
    </surface>
    <surface name="b146-44-highlight" width="146" height="44">
      <fill color="#F07DDC" />
      <fill x="3" y="3" width="140" height="38" color="#472958" />
    </surface>
    <surface name="b146-44-pressed" width="146" height="44">
      <fill color="#ACFFFF" />
      <fill x="3" y="3" width="140" height="38" color="#267F8A" />
    </surface>
    <surface name="b146-44-disabled" width="146" height="44">
      <fill color="#26313B" />
    </surface>
    <surface name="b232-44-normal" width="232" height="44">
      <fill color="#202B48" />
    </surface>
    <surface name="b232-44-highlight" width="232" height="44">
      <fill color="#F07DDC" />
      <fill x="3" y="3" width="226" height="38" color="#472958" />
    </surface>
    <surface name="b232-44-pressed" width="232" height="44">
      <fill color="#ACFFFF" />
      <fill x="3" y="3" width="226" height="38" color="#267F8A" />
    </surface>
    <surface name="b232-44-disabled" width="232" height="44">
      <fill color="#26313B" />
    </surface>
    <surface name="b160-40-normal" width="160" height="40">
      <fill color="#202B48" />
    </surface>
    <surface name="b160-40-highlight" width="160" height="40">
      <fill color="#F07DDC" />
      <fill x="3" y="3" width="154" height="34" color="#472958" />
    </surface>
    <surface name="b160-40-pressed" width="160" height="40">
      <fill color="#ACFFFF" />
      <fill x="3" y="3" width="154" height="34" color="#267F8A" />
    </surface>
    <surface name="b160-40-disabled" width="160" height="40">
      <fill color="#26313B" />
    </surface>
    <surface name="b128-32-normal" width="128" height="32">
      <fill color="#202B48" />
    </surface>
    <surface name="b128-32-highlight" width="128" height="32">
      <fill color="#F07DDC" />
      <fill x="3" y="3" width="122" height="26" color="#472958" />
    </surface>
    <surface name="b128-32-pressed" width="128" height="32">
      <fill color="#ACFFFF" />
      <fill x="3" y="3" width="122" height="26" color="#267F8A" />
    </surface>
    <surface name="b128-32-disabled" width="128" height="32">
      <fill color="#26313B" />
    </surface>
    <surface name="b568-36-normal" width="568" height="36">
      <fill color="#202B48" />
    </surface>
    <surface name="b568-36-highlight" width="568" height="36">
      <fill color="#F07DDC" />
      <fill x="3" y="3" width="562" height="30" color="#472958" />
    </surface>
    <surface name="b568-36-pressed" width="568" height="36">
      <fill color="#ACFFFF" />
      <fill x="3" y="3" width="562" height="30" color="#267F8A" />
    </surface>
    <surface name="b568-36-disabled" width="568" height="36">
      <fill color="#26313B" />
    </surface>
    <surface name="b174-44-normal" width="174" height="44">
      <fill color="#202B48" />
    </surface>
    <surface name="b174-44-highlight" width="174" height="44">
      <fill color="#F07DDC" />
      <fill x="3" y="3" width="168" height="38" color="#472958" />
    </surface>
    <surface name="b174-44-pressed" width="174" height="44">
      <fill color="#ACFFFF" />
      <fill x="3" y="3" width="168" height="38" color="#267F8A" />
    </surface>
    <surface name="b174-44-disabled" width="174" height="44">
      <fill color="#26313B" />
    </surface>
    <surface name="b260-44-normal" width="260" height="44">
      <fill color="#202B48" />
    </surface>
    <surface name="b260-44-highlight" width="260" height="44">
      <fill color="#F07DDC" />
      <fill x="3" y="3" width="254" height="38" color="#472958" />
    </surface>
    <surface name="b260-44-pressed" width="260" height="44">
      <fill color="#ACFFFF" />
      <fill x="3" y="3" width="254" height="38" color="#267F8A" />
    </surface>
    <surface name="b260-44-disabled" width="260" height="44">
      <fill color="#26313B" />
    </surface>
    <surface name="b592-27-normal" width="592" height="27">
      <fill color="#202B48" />
    </surface>
    <surface name="b592-27-highlight" width="592" height="27">
      <fill color="#F07DDC" />
      <fill x="2" y="2" width="588" height="23" color="#472958" />
    </surface>
    <surface name="b592-27-pressed" width="592" height="27">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="588" height="23" color="#472958" />
    </surface>
    <surface name="b592-27-disabled" width="592" height="27">
      <fill color="#26313B" />
    </surface>
    <surface name="b128-28-normal" width="128" height="28">
      <fill color="#202B48" />
    </surface>
    <surface name="b128-28-highlight" width="128" height="28">
      <fill color="#F07DDC" />
      <fill x="2" y="2" width="124" height="24" color="#472958" />
    </surface>
    <surface name="b128-28-pressed" width="128" height="28">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="124" height="24" color="#472958" />
    </surface>
    <surface name="b128-28-disabled" width="128" height="28">
      <fill color="#26313B" />
    </surface>
  </resources>
  <body width="640" height="480" background="bg" onload="export:gd_ripper_Init()" onopen="export:gd_ripper_Open()" onclose="export:gd_ripper_Close()" onunload="export:gd_ripper_Exit()">
    <cardstack name="pages">
      <panel name="main-page" width="640" height="480">
        <label x="24" y="16" width="384" height="28" font="title" color="#E7EEF4" text="GD RIPPER  /  K-UI" align="left" valign="center" />
        <label x="24" y="46" width="384" height="20" font="small" color="#9BAFC1" text="2.2.4  |  K-UI by TPMJB" align="left" valign="center" />
        <input type="button" x="426" y="20" width="190" height="44" name="music-btn" onclick="export:gd_ripper_Music()" normal="b190-44-normal" highlight="b190-44-highlight" pressed="b190-44-pressed" disabled="b190-44-disabled">
          <label font="small" color="#F0F6FA" text="Y Music 15%" align="center" />
        </input>
        <label x="24" y="70" width="592" height="20" font="body" color="#65E8F2" text="Waiting for disc..." align="left" valign="center" name="disc-label" />
        <label x="24" y="100" width="70" height="22" font="body" color="#9BAFC1" text="Folder:" align="left" />
        <input type="text" name="gname-text" value="ripped_disc" x="96" y="96" width="520" height="28" size="254" font="body" fontcolor="#14202B" onblur="export:gd_ripper_Gamename()" />
        <label x="24" y="134" width="450" height="20" font="body" color="#9BAFC1" text="/sd/Games" align="left" valign="center" name="destination-path" />
        <input type="button" x="488" y="128" width="128" height="32" name="browse-btn" onclick="export:gd_ripper_ShowFileBrowser()" normal="b128-32-normal" highlight="b128-32-highlight" pressed="b128-32-pressed" disabled="b128-32-disabled">
          <label font="body" color="#F0F6FA" text="Destination" align="center" />
        </input>
        <label x="24" y="174" width="592" height="26" font="title" color="#E7EEF4" text="Waiting for disc" align="left" valign="center" name="track-label" />
        <progressbar x="24" y="208" width="592" height="12" name="progress_bar" pos="0.0" bimage="progress-bg" pimage="progress-fill" />
        <label x="24" y="230" width="290" height="20" font="body" color="#E7EEF4" text="Overall: --" align="left" valign="center" name="progress-percent-label" />
        <label x="332" y="230" width="284" height="20" font="body" color="#E7EEF4" text="Speed: --" align="left" valign="center" name="speed-label" />
        <label x="24" y="252" width="290" height="20" font="body" color="#9BAFC1" text="Time left: --" align="left" valign="center" name="time-label" />
        <label x="332" y="252" width="284" height="20" font="body" color="#9BAFC1" text="" align="left" valign="center" name="current-lba-label" />
        <label x="24" y="280" width="592" height="20" font="body" color="#D0DEE9" text="Insert a disc. Its title will be read automatically." align="left" valign="center" name="message" />
        <label x="24" y="299" width="592" height="20" font="body" color="#D0DEE9" text="" align="left" valign="center" name="message-2" />
        <label x="24" y="318" width="592" height="20" font="body" color="#D0DEE9" text="" align="left" valign="center" name="message-3" />
        <input type="button" x="24" y="349" width="190" height="44" name="start_btn" onclick="export:gd_ripper_StartRip()" normal="b190-44-normal" highlight="b190-44-highlight" pressed="b190-44-pressed" disabled="b190-44-disabled">
          <label font="body" color="#F0F6FA" text="Start / Resume" align="center" />
        </input>
        <input type="button" x="226" y="349" width="146" height="44" name="cancel_btn" onclick="export:gd_ripper_CancelRip()" normal="b146-44-normal" highlight="b146-44-highlight" pressed="b146-44-pressed" disabled="b146-44-disabled">
          <label font="body" color="#F0F6FA" text="Stop" align="center" />
        </input>
        <input type="button" x="384" y="349" width="232" height="44" name="advanced-btn" onclick="export:gd_ripper_Advanced()" normal="b232-44-normal" highlight="b232-44-highlight" pressed="b232-44-pressed" disabled="b232-44-disabled">
          <label font="body" color="#F0F6FA" text="Advanced features &gt;" align="center" />
        </input>
        <input type="button" x="24" y="410" width="160" height="40" name="exit-btn" onclick="export:gd_ripper_Quit()" normal="b160-40-normal" highlight="b160-40-highlight" pressed="b160-40-pressed" disabled="b160-40-disabled">
          <label font="body" color="#F0F6FA" text="Exit" align="center" />
        </input>
        <label x="208" y="411" width="408" height="20" font="small" color="#9BAFC1" text="D-pad / stick: select     A: activate" align="left" valign="center" />
        <label x="208" y="431" width="408" height="20" font="small" color="#9BAFC1" text="B: stop / back   Y / M: music" align="left" valign="center" />
      </panel>
      <panel name="destination-page" width="640" height="480">
        <label x="24" y="18" width="592" height="28" font="title" color="#E7EEF4" text="CHOOSE A FOLDER" align="left" valign="center" />
        <input type="button" x="24" y="58" width="128" height="28" name="device-sd" onclick="export:gd_ripper_Destination()" normal="b128-28-normal" highlight="b128-28-highlight" pressed="b128-28-pressed" disabled="b128-28-disabled">
          <label font="small" color="#F0F6FA" text="SD card" align="center" />
        </input>
        <input type="button" x="164" y="58" width="128" height="28" name="device-ide" onclick="export:gd_ripper_Destination()" normal="b128-28-normal" highlight="b128-28-highlight" pressed="b128-28-pressed" disabled="b128-28-disabled">
          <label font="small" color="#F0F6FA" text="IDE drive" align="center" />
        </input>
        <input type="button" x="304" y="58" width="128" height="28" name="device-pc" onclick="export:gd_ripper_Destination()" normal="b128-28-normal" highlight="b128-28-highlight" pressed="b128-28-pressed" disabled="b128-28-disabled">
          <label font="small" color="#F0F6FA" text="PC share" align="center" />
        </input>
        <input type="button" x="488" y="58" width="128" height="28" name="folder-up" onclick="export:gd_ripper_Folder()" normal="b128-28-normal" highlight="b128-28-highlight" pressed="b128-28-pressed" disabled="b128-28-disabled">
          <label font="small" color="#F0F6FA" text="Up one folder" align="center" />
        </input>
        <label x="24" y="95" width="592" height="20" font="small" color="#9BAFC1" text="/sd/Games" align="left" valign="center" name="folder-path" />
        <input type="button" x="24" y="122" width="592" height="27" name="folder-0" onclick="export:gd_ripper_Folder()" normal="b592-27-normal" highlight="b592-27-highlight" pressed="b592-27-pressed" disabled="b592-27-disabled">
          <label font="small" color="#F0F6FA" text="" align="left" />
        </input>
        <input type="button" x="24" y="151" width="592" height="27" name="folder-1" onclick="export:gd_ripper_Folder()" normal="b592-27-normal" highlight="b592-27-highlight" pressed="b592-27-pressed" disabled="b592-27-disabled">
          <label font="small" color="#F0F6FA" text="" align="left" />
        </input>
        <input type="button" x="24" y="180" width="592" height="27" name="folder-2" onclick="export:gd_ripper_Folder()" normal="b592-27-normal" highlight="b592-27-highlight" pressed="b592-27-pressed" disabled="b592-27-disabled">
          <label font="small" color="#F0F6FA" text="" align="left" />
        </input>
        <input type="button" x="24" y="209" width="592" height="27" name="folder-3" onclick="export:gd_ripper_Folder()" normal="b592-27-normal" highlight="b592-27-highlight" pressed="b592-27-pressed" disabled="b592-27-disabled">
          <label font="small" color="#F0F6FA" text="" align="left" />
        </input>
        <input type="button" x="24" y="238" width="592" height="27" name="folder-4" onclick="export:gd_ripper_Folder()" normal="b592-27-normal" highlight="b592-27-highlight" pressed="b592-27-pressed" disabled="b592-27-disabled">
          <label font="small" color="#F0F6FA" text="" align="left" />
        </input>
        <input type="button" x="24" y="267" width="592" height="27" name="folder-5" onclick="export:gd_ripper_Folder()" normal="b592-27-normal" highlight="b592-27-highlight" pressed="b592-27-pressed" disabled="b592-27-disabled">
          <label font="small" color="#F0F6FA" text="" align="left" />
        </input>
        <input type="button" x="24" y="296" width="592" height="27" name="folder-6" onclick="export:gd_ripper_Folder()" normal="b592-27-normal" highlight="b592-27-highlight" pressed="b592-27-pressed" disabled="b592-27-disabled">
          <label font="small" color="#F0F6FA" text="" align="left" />
        </input>
        <input type="button" x="24" y="334" width="128" height="28" name="folder-prev" onclick="export:gd_ripper_Folder()" normal="b128-28-normal" highlight="b128-28-highlight" pressed="b128-28-pressed" disabled="b128-28-disabled">
          <label font="small" color="#F0F6FA" text="Previous page" align="center" />
        </input>
        <label x="166" y="337" width="300" height="20" font="small" color="#9BAFC1" text="" align="left" valign="center" name="folder-count" />
        <input type="button" x="488" y="334" width="128" height="28" name="folder-next" onclick="export:gd_ripper_Folder()" normal="b128-28-normal" highlight="b128-28-highlight" pressed="b128-28-pressed" disabled="b128-28-disabled">
          <label font="small" color="#F0F6FA" text="Next page" align="center" />
        </input>
        <label x="24" y="373" width="592" height="20" font="small" color="#9BAFC1" text="" align="left" valign="center" name="destination-error" />
        <input type="button" x="24" y="403" width="260" height="44" name="destination-confirm" onclick="export:gd_ripper_FileBrowserConfirm()" normal="b260-44-normal" highlight="b260-44-highlight" pressed="b260-44-pressed" disabled="b260-44-disabled">
          <label font="small" color="#F0F6FA" text="Use this folder" align="center" />
        </input>
        <input type="button" x="356" y="403" width="260" height="44" name="destination-back" onclick="export:gd_ripper_ShowMainPage()" normal="b260-44-normal" highlight="b260-44-highlight" pressed="b260-44-pressed" disabled="b260-44-disabled">
          <label font="small" color="#F0F6FA" text="Cancel" align="center" />
        </input>
        <label x="24" y="453" width="592" height="18" font="small" color="#9BAFC1" text="D-pad / stick: select    A: open    B: up / cancel" align="left" valign="center" />
      </panel>
      <panel name="advanced-page" width="640" height="480">
        <label x="24" y="20" width="592" height="28" font="title" color="#E7EEF4" text="ADVANCED FEATURES" align="left" valign="center" />
        <label x="24" y="56" width="592" height="20" font="small" color="#9BAFC1" text="Sector EDC + track CRC always run. No extra SD pass." align="left" valign="center" />
        <input type="button" x="36" y="84" width="568" height="36" name="recover-btn" onclick="export:gd_ripper_Toggle()" normal="b568-36-normal" highlight="b568-36-highlight" pressed="b568-36-pressed" disabled="b568-36-disabled">
          <label font="body" color="#F0F6FA" text="Recover damaged disc: OFF" align="center" />
        </input>
        <input type="button" x="36" y="128" width="568" height="36" name="edc-btn" onclick="export:gd_ripper_Toggle()" normal="b568-36-normal" highlight="b568-36-highlight" pressed="b568-36-pressed" disabled="b568-36-disabled">
          <label font="body" color="#F0F6FA" text="Advanced CRC (ECC + repair): OFF" align="center" />
        </input>
        <input type="button" x="36" y="172" width="568" height="36" name="verify-btn" onclick="export:gd_ripper_Verify()" normal="b568-36-normal" highlight="b568-36-highlight" pressed="b568-36-pressed" disabled="b568-36-disabled">
          <label font="body" color="#F0F6FA" text="Scan saved dump: read-back + sector checks (slow)" align="center" />
        </input>
        <input type="button" x="36" y="216" width="568" height="36" name="bad_btn" onclick="export:gd_ripper_Toggle()" normal="b568-36-normal" highlight="b568-36-highlight" pressed="b568-36-pressed" disabled="b568-36-disabled">
          <label font="body" color="#F0F6FA" text="Zero-fill unreadable sectors: OFF" align="center" />
        </input>
        <input type="button" x="36" y="260" width="568" height="36" name="use_bin_btn" onclick="export:gd_ripper_Toggle()" normal="b568-36-normal" highlight="b568-36-highlight" pressed="b568-36-pressed" disabled="b568-36-disabled">
          <label font="body" color="#F0F6FA" text="Track format: BIN (raw, recommended)" align="center" />
        </input>
        <input type="button" x="36" y="304" width="568" height="36" name="num-read" onclick="export:gd_ripper_Number_read()" normal="b568-36-normal" highlight="b568-36-highlight" pressed="b568-36-pressed" disabled="b568-36-disabled">
          <label font="body" color="#F0F6FA" text="Retry / recovery pass limit: 10" align="center" />
        </input>
        <label x="36" y="346" width="568" height="20" font="small" color="#9BAFC1" text="Recovery: defer bad sectors, then ask. BIN + ECC required." align="left" valign="center" />
        <label x="36" y="369" width="275" height="20" font="body" color="#9BAFC1" text="Total: --" align="left" valign="center" name="sectors-total-label" />
        <label x="329" y="369" width="275" height="20" font="body" color="#9BAFC1" text="Done: --" align="left" valign="center" name="sectors-processed-label" />
        <input type="button" x="36" y="409" width="568" height="36" name="advanced-back" onclick="export:gd_ripper_ShowMainPage()" normal="b568-36-normal" highlight="b568-36-highlight" pressed="b568-36-pressed" disabled="b568-36-disabled">
          <label font="body" color="#F0F6FA" text="&lt; Close advanced features" align="center" />
        </input>
      </panel>
      <panel name="recovery-page" width="640" height="480">
        <label x="24" y="32" width="592" height="32" font="title" color="#FF9A88" text="THIS DUMP'S A MESS." name="recovery-title" align="left" valign="center" />
        <label x="24" y="90" width="592" height="22" font="body" color="#E7EEF4" text="" name="recovery-folder" align="left" valign="center" />
        <label x="24" y="132" width="592" height="22" font="body" color="#E7EEF4" text="" name="recovery-count" align="left" valign="center" />
        <label x="24" y="178" width="592" height="20" font="body" color="#D0DEE9" text="" name="recovery-history" align="left" valign="center" />
        <label x="24" y="206" width="592" height="20" font="body" color="#D0DEE9" text="This dump stays incomplete until every hole is recovered." align="left" valign="center" />
        <label x="24" y="250" width="592" height="20" font="body" color="#D0DEE9" text="" name="recovery-limit" align="left" valign="center" />
        <label x="24" y="278" width="592" height="20" font="body" color="#9BAFC1" text="Recovery may take a while. Stop saves progress." align="left" valign="center" />
        <input type="button" x="24" y="349" width="260" height="44" name="recovery-start" onclick="export:gd_ripper_Recover()" normal="b260-44-normal" highlight="b260-44-highlight" pressed="b260-44-pressed" disabled="b260-44-disabled">
          <label font="body" color="#F0F6FA" text="Try recovery" align="center" />
        </input>
        <input type="button" x="308" y="349" width="260" height="44" name="recovery-later" onclick="export:gd_ripper_ShowMainPage()" normal="b260-44-normal" highlight="b260-44-highlight" pressed="b260-44-pressed" disabled="b260-44-disabled">
          <label font="body" color="#F0F6FA" text="Later" align="center" />
        </input>
        <label x="24" y="414" width="592" height="20" font="small" color="#9BAFC1" text="Same disc + folder, Start / Resume: return to recovery." align="left" valign="center" />
      </panel>
    </cardstack>
  </body>
</app>
