<?xml version='1.0' encoding='UTF-8'?>
<app name="Memtest" version="2.0.1" icon="images/icon.png">
  <resources>
    <module src="modules/app_memtest.klf" />
    <font name="body" size="16" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />
    <font name="small" size="14" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />
    <font name="tiny" size="12" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />
    <font name="heading" size="24" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />
    <surface name="bg" width="640" height="480">
      <fill color="#101923" />
    </surface>
    <surface name="b116x32-normal" width="116" height="32">
      <fill color="#223548" />
    </surface>
    <surface name="b116x32-highlight" width="116" height="32">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="112" height="28" color="#155B71" />
    </surface>
    <surface name="b116x32-pressed" width="116" height="32">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="112" height="28" color="#155B71" />
    </surface>
    <surface name="b116x32-disabled" width="116" height="32">
      <fill color="#26313B" />
    </surface>
    <surface name="maintenance-panel" width="576" height="252">
      <fill color="#1B2A39" />
    </surface>
    <surface name="b576x30-normal" width="576" height="30">
      <fill color="#223548" />
    </surface>
    <surface name="b576x30-highlight" width="576" height="30">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="572" height="26" color="#155B71" />
    </surface>
    <surface name="b576x30-pressed" width="576" height="30">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="572" height="26" color="#155B71" />
    </surface>
    <surface name="b576x30-disabled" width="576" height="30">
      <fill color="#26313B" />
    </surface>
    <surface name="b186x30-normal" width="186" height="30">
      <fill color="#223548" />
    </surface>
    <surface name="b186x30-highlight" width="186" height="30">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="182" height="26" color="#155B71" />
    </surface>
    <surface name="b186x30-pressed" width="186" height="30">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="182" height="26" color="#155B71" />
    </surface>
    <surface name="b186x30-disabled" width="186" height="30">
      <fill color="#26313B" />
    </surface>
    <surface name="b188x30-normal" width="188" height="30">
      <fill color="#223548" />
    </surface>
    <surface name="b188x30-highlight" width="188" height="30">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="184" height="26" color="#155B71" />
    </surface>
    <surface name="b188x30-pressed" width="188" height="30">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="184" height="26" color="#155B71" />
    </surface>
    <surface name="b188x30-disabled" width="188" height="30">
      <fill color="#26313B" />
    </surface>
    <surface name="picker-bg" width="576" height="188">
      <fill color="#14212E" />
    </surface>
    <surface name="picker-row" width="556" height="28">
      <fill color="#182838" />
    </surface>
    <surface name="picker-focus" width="556" height="28">
      <fill color="#225765" />
    </surface>
    <surface name="picker-select" width="556" height="28">
      <fill color="#155B71" />
    </surface>
    <surface name="b80x30-normal" width="80" height="30">
      <fill color="#223548" />
    </surface>
    <surface name="b80x30-highlight" width="80" height="30">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="76" height="26" color="#155B71" />
    </surface>
    <surface name="b80x30-pressed" width="80" height="30">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="76" height="26" color="#155B71" />
    </surface>
    <surface name="b80x30-disabled" width="80" height="30">
      <fill color="#26313B" />
    </surface>
    <surface name="b116x30-normal" width="116" height="30">
      <fill color="#223548" />
    </surface>
    <surface name="b116x30-highlight" width="116" height="30">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="112" height="26" color="#155B71" />
    </surface>
    <surface name="b116x30-pressed" width="116" height="30">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="112" height="26" color="#155B71" />
    </surface>
    <surface name="b116x30-disabled" width="116" height="30">
      <fill color="#26313B" />
    </surface>
    <surface name="b192x30-normal" width="192" height="30">
      <fill color="#223548" />
    </surface>
    <surface name="b192x30-highlight" width="192" height="30">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="188" height="26" color="#155B71" />
    </surface>
    <surface name="b192x30-pressed" width="192" height="30">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="188" height="26" color="#155B71" />
    </surface>
    <surface name="b192x30-disabled" width="192" height="30">
      <fill color="#26313B" />
    </surface>
    <surface name="b164x30-normal" width="164" height="30">
      <fill color="#223548" />
    </surface>
    <surface name="b164x30-highlight" width="164" height="30">
      <fill color="#53E1E3" />
      <fill x="2" y="2" width="160" height="26" color="#155B71" />
    </surface>
    <surface name="b164x30-pressed" width="164" height="30">
      <fill color="#ACFFFF" />
      <fill x="2" y="2" width="160" height="26" color="#155B71" />
    </surface>
    <surface name="b164x30-disabled" width="164" height="30">
      <fill color="#26313B" />
    </surface>
    <surface name="progress-bg" width="576" height="4">
      <fill color="#263749" />
    </surface>
    <surface name="progress-fill" width="576" height="4">
      <fill color="#53E1E3" />
    </surface>
  </resources>
  <body width="640" height="480" background="bg" onload="export:Memtest_Init()" onopen="export:Memtest_Open()" onclose="export:Memtest_Close()" onunload="export:Memtest_Shutdown()">
    <label name="heading" text="Memtest" x="32" y="32" width="440" height="28" font="heading" color="#EFF5FC" align="left" valign="center" />
    <label name="subtitle" text="DreamShell NeXT  /  Memory diagnostics with results you can keep." x="32" y="62" width="576" height="18" font="small" color="#A7B9CB" align="left" valign="center" />
    <input name="menu" type="button" x="492" y="32" width="116" height="32" onclick="export:Memtest_Back()" normal="b116x32-normal" highlight="b116x32-highlight" pressed="b116x32-pressed" disabled="b116x32-disabled">
      <label name="menu-caption" text="Menu" x="12" y="0" width="92" height="32" font="body" color="#EFF5FC" align="left" valign="center" />
    </input>
    <panel name="main-panel" x="32" y="88" width="576" height="252" background="maintenance-panel">
      <input name="row-0" type="button" x="0" y="0" width="576" height="30" onclick="export:Memtest_Row()" normal="b576x30-normal" highlight="b576x30-highlight" pressed="b576x30-pressed" disabled="b576x30-disabled">
        <label name="row-0-caption" text="" x="12" y="0" width="552" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="row-1" type="button" x="0" y="34" width="576" height="30" onclick="export:Memtest_Row()" normal="b576x30-normal" highlight="b576x30-highlight" pressed="b576x30-pressed" disabled="b576x30-disabled">
        <label name="row-1-caption" text="" x="12" y="0" width="552" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="row-2" type="button" x="0" y="68" width="576" height="30" onclick="export:Memtest_Row()" normal="b576x30-normal" highlight="b576x30-highlight" pressed="b576x30-pressed" disabled="b576x30-disabled">
        <label name="row-2-caption" text="" x="12" y="0" width="552" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="row-3" type="button" x="0" y="102" width="576" height="30" onclick="export:Memtest_Row()" normal="b576x30-normal" highlight="b576x30-highlight" pressed="b576x30-pressed" disabled="b576x30-disabled">
        <label name="row-3-caption" text="" x="12" y="0" width="552" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="row-4" type="button" x="0" y="136" width="576" height="30" onclick="export:Memtest_Row()" normal="b576x30-normal" highlight="b576x30-highlight" pressed="b576x30-pressed" disabled="b576x30-disabled">
        <label name="row-4-caption" text="" x="12" y="0" width="552" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="row-5" type="button" x="0" y="170" width="576" height="30" onclick="export:Memtest_Row()" normal="b576x30-normal" highlight="b576x30-highlight" pressed="b576x30-pressed" disabled="b576x30-disabled">
        <label name="row-5-caption" text="" x="12" y="0" width="552" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
      </input>
      <label name="detail-0" text="" x="12" y="208" width="552" height="18" font="tiny" color="#A7B9CB" align="left" valign="center" />
      <label name="detail-1" text="" x="12" y="229" width="552" height="18" font="tiny" color="#A7B9CB" align="left" valign="center" />
    </panel>
    <input name="action-0" type="button" x="32" y="398" width="186" height="30" onclick="export:Memtest_Action()" normal="b186x30-normal" highlight="b186x30-highlight" pressed="b186x30-pressed" disabled="b186x30-disabled">
      <label name="action-0-caption" text="Run test" x="12" y="0" width="162" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
    </input>
    <input name="action-1" type="button" x="226" y="398" width="186" height="30" onclick="export:Memtest_Action()" normal="b186x30-normal" highlight="b186x30-highlight" pressed="b186x30-pressed" disabled="b186x30-disabled">
      <label name="action-1-caption" text="Save report" x="12" y="0" width="162" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
    </input>
    <input name="action-2" type="button" x="420" y="398" width="188" height="30" onclick="export:Memtest_Action()" normal="b188x30-normal" highlight="b188x30-highlight" pressed="b188x30-pressed" disabled="b188x30-disabled">
      <label name="action-2-caption" text="Options / Results" x="12" y="0" width="164" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
    </input>
    <panel name="browser-panel" x="32" y="88" width="576" height="252" background="maintenance-panel">
      <label name="picker-path" text="/" x="8" y="0" width="560" height="24" font="small" color="#53E1E3" align="left" valign="center" />
      <input name="up" type="button" x="0" y="28" width="80" height="30" onclick="export:Memtest_Up()" normal="b80x30-normal" highlight="b80x30-highlight" pressed="b80x30-pressed" disabled="b80x30-disabled">
        <label name="up-caption" text="Up" x="10" y="0" width="60" height="30" font="small" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="devices" type="button" x="88" y="28" width="116" height="30" onclick="export:Memtest_Devices()" normal="b116x30-normal" highlight="b116x30-highlight" pressed="b116x30-pressed" disabled="b116x30-disabled">
        <label name="devices-caption" text="Devices" x="12" y="0" width="92" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="choose-folder" type="button" x="212" y="28" width="192" height="30" onclick="export:Memtest_Folder()" normal="b192x30-normal" highlight="b192x30-highlight" pressed="b192x30-pressed" disabled="b192x30-disabled">
        <label name="choose-folder-caption" text="Use folder (X)" x="12" y="0" width="168" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
      </input>
      <input name="picker-cancel" type="button" x="412" y="28" width="164" height="30" onclick="export:Memtest_Back()" normal="b164x30-normal" highlight="b164x30-highlight" pressed="b164x30-pressed" disabled="b164x30-disabled">
        <label name="picker-cancel-caption" text="Cancel" x="12" y="0" width="140" height="30" font="body" color="#EFF5FC" align="left" valign="center" />
      </input>
      <filemanager name="file-picker" path="/" x="0" y="64" width="576" height="188" background="picker-bg" item_font="small" item_font_color="#EFF5FC" item_normal="picker-row" item_highlight="picker-focus" item_pressed="picker-select" item_disabled="picker-row" item_selected_normal="picker-select" item_selected_highlight="picker-focus" item_selected_pressed="picker-select" item_selected_disabled="picker-row" onclick="export:Memtest_Item()" />
    </panel>
    <label name="status" text="Ready." x="32" y="344" width="576" height="20" font="small" color="#53E1E3" align="left" valign="center" />
    <label name="note" text="" x="32" y="365" width="576" height="18" font="tiny" color="#A7B9CB" align="left" valign="center" />
    <panel x="32" y="388" width="576" height="4" background="progress-bg" />
    <panel name="progress" x="32" y="388" width="576" height="4" background="progress-fill" />
    <label name="controls" text="D-pad Select / Adjust     A Choose     B Back / Stop     START Menu" x="32" y="432" width="576" height="16" font="tiny" color="#A7B9CB" align="left" valign="center" />
    <dialog name="dialog" font="body" x="50" y="80" width="540" height="326" onconfirm="export:Memtest_Confirm()" oncancel="export:Memtest_Cancel()" />
  </body>
</app>